/*--- Table CSS ---*/
.table td {
  vertical-align: middle;
}
/*--- Button CSS ---*/
.btn {
  margin: 0 3px;
}

.taskName {
  /* font-weight: bold; */
  margin-right: 10px;
  font-size: 18px;
}

.finishedTask {
  color: gray;
  text-decoration-line: line-through;
}


.addBtn, .delBtn, .editBtn, .saveBtn, .cancelBtn {
  border:none;
  background:none;
  font-size: 12px;
  color: #444544;
}

.addBtn:hover, .delBtn:hover, .editBtn:hover, .saveBtn:hover, .cancelBtn:hover {
  color: black;
}
