
<!-- <div class="container">
    <div class="row">
        <div class="col">
            <h2>Check List</h2> -->
            <!-- 임시 
                Task<br><input type="text" [(ngModel)]="taskForm.name" [value]="inputTask" required><br><br>
            Description<br><textarea name="desc" cols="60" rows="10" [(ngModel)]="taskForm.desc" [value]="inputDesc"></textarea><br>
            <button type="button" (click)="addTask()">Add</button> -->
<div class="row">
<div class="col-8">
<ng-container *ngTemplateOutlet="checkList;context:{$implicit:this.taskService.getCheckList()}"></ng-container>
<ng-template #checkList let-list>
    <ul style="list-style-type: none;">

        <li *ngFor="let task of list; let i=index">
                <div [ngStyle]="{'color':task.status ? 'gray' : 'black' }">
                    <input type="checkbox" [(ngModel)]="task.status" (ngModelChange)="compTask(task)">
                    <a (click)="onSelect(task)">{{task.name}}</a>
                    <span *ngIf="task.level < 2 || task.level == 2">
                        <button type="button" (click)="addTask(task)">+</button>
                    </span>
                </div>
            <div *ngIf="task.level < 2 || task.level == 2">
                <ng-container *ngTemplateOutlet="checkList;context:{$implicit:task.subTask}"></ng-container>
            </div>
        </li>
    </ul>
</ng-template>
<button type="button" (click)="addTask(null)">Add New Task</button>
</div>

<div class="col-4">
    <div *ngIf="selectedTask">
        <app-task-detail [task]="selectedTask"></app-task-detail>
    </div>
</div>
</div>


