
<div class="comboBox">
    Choose level : 
    <select class="chooseLevel" (change)="changeComboBox($event.target.value)" [(ngModel)]="chooseLevel">
        <option value="0">Level 0</option>
        <option value="1">Level 1</option>
        <option value="2">Level 2</option>
        <option value="3">Level 3</option>
        <option value="4">Level 4</option>
        <option value="5">Level 5</option>
    </select>
</div>
<br>

<div class="row">
    <div class="col-8">
        <ng-container *ngTemplateOutlet="checkList;context:{$implicit:this.taskService.getCheckList()}"></ng-container>
        <ng-template #checkList let-list>
            <ul style="list-style-type: none;">
                <li *ngFor="let task of list; let i=index">
                    
                    <div class="view" [hidden]="task.editing">
                        <input type="checkbox" [(ngModel)]="task.status" (ngModelChange)="compTask(task)">
                        
                        <a (click)="onSelect(task)">
                            <label [ngClass]="{'finishedTask' : task.status === true}">
                                {{task.name}}
                            </label>
                        </a>

                        <span *ngIf="task.level < getLevelValue()">
                            <button class="addBtn" type="button" (click)="addTask(task)">
                                <fa-icon [icon]="faPlusSquare"></fa-icon></button>
                        </span>
                        
                        <button class="editBtn" type="button" (click)="task.editing=true">
                            <fa-icon [icon]="faEdit"></fa-icon></button>
                        <button class="delBtn" type="button" (click)="delTask(list, task)">
                                <fa-icon [icon]="faTrashAlt"></fa-icon></button>
                    </div>
                    <div class="editing" [hidden]="!task.editing">
                        <input #updateTask
                            autofocus
                            [(value)]="task.name"
                            (keyup.enter)="editTask(task, updateTask.value)"
                            (keyup.esc)="cancelEditTask(task, updateTask)"
                            (focusout)="focusOut($event, task, updateTask.value)">

                        <button class="saveBtn" type="button" (click)="editTask(task, updateTask.value)">
                            <fa-icon [icon]="faSave"></fa-icon></button>
                        <button class="cancelBtn" type="button" (click)="cancelEditTask(task, updateTask)">
                            <fa-icon [icon]="faTimes"></fa-icon></button>
                    </div>
                    
                    <div *ngIf="task.level < getLevelValue()">
                        <ng-container *ngTemplateOutlet="checkList;context:{$implicit:task.subTask}"></ng-container>
                    </div>
                </li>
            </ul>
        </ng-template>
        <button type="button" (click)="addTask(null)">Add New Task</button>
    </div>

    <div class="col-4">
        <div *ngIf="selectedTask">
            <app-task-detail [task]="selectedTask"></app-task-detail>
        </div>
    </div>
</div>


