<div class="CheckList-Table">

    <button type="button" class="addMainBtn" (click)="changeTasks(null, null, $event)">Add New Task</button>
    <br><br>

    <table mdbTable mdbTableScroll scrollX="true" class="table table-bordered">
        <thead>
            <tr>
            <th *ngFor="let head of tableHead" scope="col">{{head}} </th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngTemplateOutlet="checkList; context:{$implicit:tasklist}"></ng-container>

            <ng-template #checkList let-list>
                <ng-container *ngFor="let task of list;">
                    <tr mdbTableCol [ngClass]="{'finishedTaskCol' : task.status === true}">
                        <td id="checkListData" (dblclick)="dbClickName(task)">

                            <div class="view" *ngIf="!task.editing || (editIdx != editName)">
                                <!-- Display arrow and space if subtask -->
                                <ng-container *ngFor="let arrow of arrayArrow(task.level); let i = index;">
                                    &nbsp;&nbsp;
                                    <ng-container *ngIf="i == task.level-1">
                                        <fa-icon [icon]="faCaretRight"></fa-icon>
                                    </ng-container>
                                    &nbsp;
                                </ng-container>

                                <input class="customCheckBox" type="checkbox" [(ngModel)]="task.status" (ngModelChange)="compTask(task)">
                                <label class="align-middle m-0" [ngClass]="{'finishedTask' : task.status === true}">
                                    {{task.name}}
                                </label>
                            </div>

                            <div class="editing" *ngIf="task.editing && (editIdx == editName)">
                                <input #updateTask
                                    autofocus
                                    class="customTextbox"
                                    [(value)]="task.name"
                                    (keyup.enter)="changeTasks(task, updateTask.value, 'saveBtn')"
                                    (keyup.esc)="task.editing=false;editIdx = 0">

                                <button class="saveBtn" type="button" (click)="changeTasks(task, updateTask.value, $event)">
                                    <fa-icon class="fa-fw align-middle" [icon]="faSave"></fa-icon></button>
                                <button class="cancelBtn" type="button" (click)="task.editing=false;editIdx = 0">
                                    <fa-icon class="fa-fw align-middle" [icon]="faTimes"></fa-icon></button>
                            </div>
                        </td>
                        <td>
                            <!-- Hide add button, if lastest level -->
                            <span *ngIf="task.level < getLevelValue()">
                                <button class="addBtn" type="button" (click)="changeTasks(task, null, $event)">
                                    <fa-icon class="fa-fw align-middle" [icon]="faPlusSquare"></fa-icon></button>
                            </span>

                            <button class="delBtn" type="button" (click)="changeTasks(task, list, $event)">
                                <fa-icon class="fa-fw align-middle" [icon]="faTrashAlt"></fa-icon></button>
                        </td>

                        <td (dblclick)="dbClickDate(task, 'start', task.attributes[0].startDate)">
                            <span class="view align-middle" *ngIf="!task.editing || (editIdx != editStartDate)">
                                {{task.attributes[0].startDate}}
                            </span>
                            <div class="editing" *ngIf="task.editing && (editIdx == editStartDate)">

                                <input type="text" style="width:70%"
                                    class="customTextbox"
                                    [readonly]=true [(ngModel)]="dateModel"
                                    ngbDatepicker
                                    [maxDate]="setDate(task.attributes[0].endDate)"
                                    (dateSelect)="onDateSelect(task, 'start', $event)" #d="ngbDatepicker"/>
                                <button (click)="d.toggle()"><fa-icon [icon]="faCalendarAlt"></fa-icon></button>

                            </div>
                        </td>

                        <td (dblclick)="dbClickDate(task, 'end', task.attributes[0].endDate)">
                            <span class="view align-middle" *ngIf="!task.editing || (editIdx != editEndDate)">
                                {{task.attributes[0].endDate}}
                            </span>
                            <div class="editing" *ngIf="task.editing && (editIdx == editEndDate)">

                                <input type="text" style="width:70%"
                                    class="customTextbox"
                                    [readonly]=true [(ngModel)]="dateModel"
                                    ngbDatepicker
                                    [minDate]="setDate(task.attributes[0].startDate)"
                                    (dateSelect)="onDateSelect(task, 'end', $event)" #d="ngbDatepicker"/>
                                <button (click)="d.toggle()"><fa-icon [icon]="faCalendarAlt"></fa-icon></button>

                            </div>
                        </td>
                        <td (dblclick)="openModalView(task)">
                            <span class="align-middle">{{task.attributes[0].assignee}}</span>
                        </td>
                    </tr>

                    <!-- For subTasks -->
                    <ng-template [ngIf]="task.subTask && task.level < getLevelValue()">
                        <ng-container *ngTemplateOutlet="checkList; context:{$implicit:task.subTask}">&nbsp;</ng-container>
                    </ng-template>

                </ng-container>
            </ng-template>
        </tbody>
    </table>

</div>
