.topNav a {
    float: left;
    color: #707373;
    text-align: center;
    padding: 15px 20px;
    margin: 0 10px;
    text-decoration: none;
    font-size: 17px;
}

.topNav a:hover {
    background-color: white;
    color: #06bfbf;
}
  
.topNav a.active {
    background-color: white;
    color: #06bfbf;
    border-bottom: 2px solid #06bfbf;
    font-weight: bold;
  }