





th, tr, td {
  text-align: center;

}

td {
  min-width: 150px;
}

.listData {
    min-width: 300px;
    text-align: left;
}

.ganttData {
    width: 1000px;
    height: 30px;
}

.finishedTask {
    color: gray;
    text-decoration-line: line-through;
}

.finishedTaskCol {
    color: gray;
    background-color: rgb(216, 216, 216);
}

/*For action button*/
.addBtn, .delBtn {
  border: 1px solid black;
  background: none;
  outline: none;
  padding: 0 4px;
  font-size: 14px;
  margin: 0 3px;
  border-radius: 4px;
}

.addBtn {
  color: cornflowerblue;
}

.delBtn {
  color: crimson;
}

.addBtn:hover, .delBtn:hover {
  color: black;
}

/*Custom checkbox CSS*/
.customCheckBox[type="checkbox"] {
  height: 15px;
  width: 15px;
  position: relative;
  vertical-align: middle;
  margin: 0 3px;
  cursor: pointer;
}

.customCheckBox[type="checkbox"]:before {
  content: "";
  display: block;
  border: 1px solid #cccccc;
  border-radius: 4px;
  background: #FFF;
  width: 15px;
  height: 15px;
}

.customCheckBox[type="checkbox"]:checked:before {
  border: 1px solid #41B883;
}

.customCheckBox[type="checkbox"]:checked:after {
  content: '\2713';
  display: block;
  color: #41B883;
  font-size: 24px;
  font-weight: 700;
  top: -5px;
  left: 1px;
  line-height: 0.8;
  position: absolute;
}

